<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
  <meta charset="UTF-8">
  <title>Doctors</title>
  <style>
body {
  background-image: url('/imgs/md.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>
<div layout:fragment="content">
  <div class="p-3">
    <div class="card">
      <div class="card-header">Appointments</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th><th>Date</th><th>Doctor</th><th>Patients</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p:${appointments}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.date}"></td>
            <td th:text="${p.doctor}"></td>
            <td th:text="${p.patient}"></td>
            <!--<td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
              <a onclick="return confirm('Etes vous sûre?')" class="btn btn-danger"
                 th:href="@{/admin/deleteDoctor(id=${p.id})}">
                <i class="bi bi-trash"></i>
              </a>
            </td>
            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
              <a  class="btn btn-danger"
                  th:href="@{/admin/editDoctor(id=${p.id})}" >
                <i class="bi bi-pencil"></i>
              </a>
            </td>-->

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>