<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
  <meta charset="UTF-8">
  <title>Materiels</title>
  <style>
body {
  background-image: url('/imgs/md.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>
<div layout:fragment="content">
  <div class="p-3">
    <form method="post" th:action="@{saveMateriel}">
      <div class="mb-3 mt-3">
        <label for="nom" class="form-label">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
        <span class="text-danger" th:errors="${materiel.nom}" th:value="${materiel.nom}"></span>
      </div>
      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" placeholder="Description" name="description">
        <span class="text-danger" th:errors="${materiel.description}" th:value="${materiel.description}"></span>
      </div>
      <div class="mb-3 mt-3">
        <label for="prix" class="form-label">Prix:</label>
        <input type="text" class="form-control" id="prix" placeholder="Prix" name="prix">
        <span class="text-danger" th:errors="${materiel.prix}" th:value="${materiel.prix}"></span>
      </div>


      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
</body>
</html>