<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Liste des réceptionnistes</title>
</head>
<body>
<h1>Liste des réceptionnistes</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Adresse e-mail</th>
    <th>Téléphone</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="receptionist : ${receptionists}">
    <td th:text="${receptionist.id}"></td>
    <td th:text="${receptionist.name}"></td>
    <td th:text="${receptionist.email}"></td>
  </tr>
  </tbody>
</table>

<a href="/receptionists/create">Ajouter un réceptionniste</a>
</body>
</html>
