<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #343a40;
            color: #fff;
        }

        .navbar .nav-link {
            color: #fff;
        }

        .navbar .nav-link:hover {
            color: #f8f9fa;
        }

        .navbar .dropdown-menu {
            background-color: #343a40;
        }

        .navbar .dropdown-menu a {
            color: #fff;
        }

        .navbar .dropdown-menu a:hover {
            color: #f8f9fa;
        }

        .navbar-brand {
            margin-right: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Hospital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/index}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/index/doctors}">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/index/materiels}">Materiels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/index/infermieres}">Infermieres</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/index/appointments}">Appointment</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Ajouter</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/formPatient}">Ajouter un patient</a>
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/formDoctor}">Ajouter un docteur</a>
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/formInfermiere}">Ajouter une infermiere</a>
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/formMateriel}">Ajouter un materiel</a>
                        </li>
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="dropdown-item" th:href="@{/admin/index/create-appointment}">Ajouter un RDV</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i>
                        <span th:text="${#authentication.name}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <form method="post" th:action="@{/logout}">
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content">

</div>

</body>
</html>
